.mw {
    width: 1800px; /* 페이지의 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    /* 페이지 컨텐츠와 경계 사이의 간격 조정 */
    padding-top:20px;
    text-align: center;
    align-items: center;
  }

  .projectName { /*프로젝트 이름*/
    float:left;
    background-color:green;
    font-size:20px;
    margin-left: 20px;
  }
  
  /* 네비게이션 스타일링 */
  .first-nav {
    border-radius: 5px;
    background-image: url("/public/cement-texture.jpg");
    background-size: auto 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    margin: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 150px);
  }
  
  /* Header 컴포넌트 스타일링 */
  .first-nav Header {
    /* Header 컴포넌트와 Button 컴포넌트 사이의 간격 설정 */
  }
  
  /* Button 컴포넌트 스타일링 */
  .first-div Button {
    /* Button 컴포넌트에 대한 추가 스타일링 */
  }