.mw {
    width: calc(100% - 2rem);
    margin: 30;
    align-items: center;
    text-align: center;
    position: flex;
    top : 8px;
  }

  @media screen and (max-height: 800px) {
    h1{
      font-size: 10px;
      display: flex;
      flex-direction: column;
    }
  }
