body {
  display: flex ; 
  flex-direction: column;
  align-items: center ;
  justify-content: center ;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'Yeon Sung', cursive;
  font-size: 40px !important;
  background-color: #008000 !important;
}